.chat-page-container {
  display: flex;
  height: calc(100vh - var(--navbar-height));
}

.rooms-container {
  background-color: var(--bg-color-navbar);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;

  height: 100%;
  width: clamp(18rem, 30vw, 60rem);

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 80px;

    padding-right: 1rem;

    h1 {
      padding-left: 1.5rem;
    }

    button {
      width: 2rem;
      height: 2rem;
    }
  }

  & ol.room-button-container {
    width: 100%;
    padding: 0 0.5rem;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    & li {
      border-radius: 0.25rem;
      cursor: pointer;
      position: relative;

      &:hover {
        background-color: hsl(from var(--color-secondary) h s l / 15%);
      }

      &:has(input[type='radio']:checked + label) {
        background-color: hsl(from var(--color-secondary) h s l / 30%);
        color: var(--button-color);
      }
    }

    & input[type='radio'] {
      display: none;
      cursor: pointer;
    }

    & label {
      padding: 0.75rem 1rem;
      display: block;
      cursor: pointer;

      width: 100%;
      height: 100%;
      border: none;
    }
  }
}

section.messenger-container {
  background-color: var(--bg-color-messenger);
  width: 100%;
  border-top-left-radius: 1rem;
  overflow: hidden;
}
