.message-card {
  --br-card-round: 20px;
  --br-card-small: 5px;
  --m-base: 2px;

  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.4);

  margin: var(--m-base);
  margin-right: auto;
  width: clamp(calc(13rem + 1vw * pow(1.5, 8)), 1vw * pow(1.7, 7), 25rem);
  border-radius: var(--br-card-small);
  padding: 0.5rem 1rem;
  padding-left: 2.5rem;
  line-height: 1.5rem;

  & h5 {
    font-weight: bold;
    font-size: 1rem;
  }

  position: relative;

  .image-container {
    position: absolute;
    top: -0.25rem;
    left: -0.5rem;
  }

  & p + p {
    margin-top: 0.5rem;
  }

  /* Changes for cards of myself */
  &.its-me {
    margin: var(--m-base);
    margin-left: auto;
    padding: 0.5rem 1rem;
    padding-right: 3rem;

    & h5 {
      text-align: right;
    }

    & p {
      text-align: right;
    }

    & .image-container {
      left: unset;
      right: -0.25rem;
    }
  }

  /* First MessageCard */
  &.first {
    margin-top: 1rem;
    border-top-left-radius: var(--br-card-round);
    border-top-right-radius: var(--br-card-round);
  }

  /* Last MessageCard (others)*/
  &.last {
    border-bottom-left-radius: var(--br-card-small);
    border-bottom-right-radius: var(--br-card-round);
  }

  /* Last MessageCard (me)*/
  &.its-me.last {
    border-bottom-left-radius: var(--br-card-round);
    border-bottom-right-radius: var(--br-card-small);
  }
}
