.message-card {
  --br-card-round: 20px;
  --br-card-small: 5px;

  background-color: var(--bg-bubble-them);
  box-shadow: 3px 3px 10px -4px rgba(0, 0, 0, 0.77);

  margin: 0.2rem;
  margin-right: auto;
  width: clamp(calc(13rem + 1vw * pow(1.5, 7)), 1vw * pow(1.7, 7), 25rem);
  border-radius: var(--br-card-small);
  padding: 0.5rem 1rem;
  padding-left: 3rem;

  & h5 {
    color: var(--color-bubble-them);
    font-weight: bold;
  }

  position: relative;

  .image-container {
    --image-size: 3rem;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    height: var(--image-size);
    width: var(--image-size);

    top: -0.25rem;
    left: -0.5rem;

    object-position: center;
    object-fit: cover;

    img {
      width: var(--image-size);
    }
  }

  /* First MessageCard */
  &.first {
    margin-top: 0.75rem;
    border-top-left-radius: var(--br-card-round);
    border-top-right-radius: var(--br-card-round);
  }

  /* Last MessageCard */
  &.last {
    margin-bottom: 0.75rem;
    border-bottom-left-radius: var(--br-card-round);
    border-bottom-right-radius: var(--br-card-round);
  }

  /* Changes for cards of myself */
  &.its-me {
    background-color: var(--bg-bubble-me);

    margin: 0.2rem;
    margin-left: auto;
    padding: 0.5rem 1rem;
    padding-right: 3.5rem;

    & h5 {
      color: var(--color-bubble-me);

      text-align: right;
    }

    & p {
      text-align: right;
    }

    & .image-container {
      left: unset;
      top: -0.25rem;
      right: -0.25rem;
    }
  }
}
