div.messenger-container {
  height: 100%;

  display: grid;
  grid-template-rows: 1fr 5rem;
  grid-template-areas:
    'display'
    'input';
}

.messages-display {
  overflow-y: scroll;
  padding: 0 calc(1% * pow(1.8, 4));

  ol {
    list-style-type: none;
  }
}

.input-container {
  padding: 0.75rem 1rem;

  form {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 5rem;
    gap: 0.5rem;

    height: 100%;

    position: relative;

    /* mantine drives me crazy */
    .textarea-custom {
      div {
        height: 100%;

        textarea {
          height: 100%;
        }
      }
    }

    Button {
      height: 100%;
      width: 100%;
    }

    button.scroll-down {
      --size: 2.5rem;
      position: absolute;
      top: calc(-1 * var(--size) - 0.5rem);
      right: 0;
      width: var(--size);
      height: var(--size);
      border: none;
      background-color: var(--input-bg);
      backdrop-filter: blur(10px);
      font-size: larger;
      font-weight: bolder;
      border-radius: 5px;

      box-shadow: 3px 3px 7px -4px rgba(0, 0, 0, 0.77);
      transition: all 0.3s ease-out;

      &:active {
        transition: none;
        transform: translateY(2px);
        box-shadow: 2px 2px 5px -4px rgba(0, 0, 0, 0.77);
      }

      /* & .indicator-received-message-current-room {
        position: absolute;
        width: 1rem;
        height: 1rem;
        top: -0.3rem;
        left: -0.3rem;
        background-color: var(--color-primary);
        border-radius: 50%;
        box-shadow: 0 0 0.5rem var(--color-primary);
      } */
    }
  }
}
