.navbar-container {
  position: sticky;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  padding: 0 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--bg-color-navbar);

  & .navbar-text {
    font-size: 0.8rem;
    font-weight: 600;
    line-height: normal;
    font-family: 'CaskaydiaCove Nerd Font';
  }

  & .button-container {
    display: flex;
    align-items: center;
    gap: 2px;

    height: 100%;
  }
}
