.profile-menu-container {
  position: absolute;
  top: 3.5rem;
  right: 1.5rem;
  z-index: 400;

  & .menu {
    padding: 0.5rem;
    border-radius: 5px;
    background-color: var(--bg-color-navbar);

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2px;

    & h5 {
      padding: 0 0.25rem 0;
    }

    & .item {
      background-color: var(--bg-color-navbar);
      border: none;
      cursor: pointer;
      height: 40px;

      display: grid;
      align-items: center;
      grid-template-columns: 1rem 5rem 7rem;
      gap: 0.5rem;

      padding: 0 0.25rem;
      border-radius: 0.25rem;

      /* Hover effect only on items, which are button elements */
      &:is(button):hover {
        background-color: hsl(from var(--color-secondary) h s l / 15%);
      }

      & label {
        cursor: pointer;
        justify-self: flex-start;
      }
    }
  }
}
