.avatar-wrapper {
  position: relative;
  transition: all 0.2s ease-in-out;

  &.withHover:hover {
    z-index: 10;
    margin-right: 2.5rem;
    transform: scale(1.5);
    translate: 1rem;

    &:not(:first-child) {
      margin-left: 0.5rem;
    }
  }

  & .children {
    position: absolute;

    & .admin {
      position: absolute;
      top: -3rem;
      left: -1.25rem;
    }

    & .online {
      position: absolute;
      bottom: 0.25rem;
      left: -0.75rem;
    }
  }
}
