.form-container {
  display: flex;
  justify-content: center;

  form {
    max-width: 400px;
    width: 80%;
  }
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1;
  width: 3rem;

  cursor: pointer;
  border-radius: 50%;
  padding: 0.75rem;
  border: none;
  background-color: inherit;

  /* TODO Add click animation */
  &:hover {
    background-color: hsl(from var(--color-primary) h s l / 15%);

    & svg {
      fill: var(--color-primary);
    }
  }
}

/* Animation for horizontal shake */
.error {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
