*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg-color-navbar) !important;
}

button {
  cursor: pointer;
}

:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  /***********
  * COLORS
  ***********/
  /* Palette https://palettemaker.com/*/
  --color-primary: #744c39; /* A rich brown color */
  --color-secondary: #da8b79; /* A soft pinkish tone */
  --color-accent: #edd0af; /* A warm beige accent */
  --color-light: #e6e3cb; /* A light neutral shade */
  --color-muted: #c2ddda; /* A muted teal tone */

  /* Background */
  --bg-color-navbar: hsl(from var(--color-light) h s calc(l - 10));
  --bg-color-messenger: hsl(from var(--color-light) h s calc(l + 5));
  --bg-color-messenger-header: hsl(from var(--color-light) h s 85%);

  /* Messenger */
  --input-bg: var(--mantine-color-white);

  /****************
  * COLORS - DARK
  ****************/
  --color-dark-base: hsl(from var(--color-muted) h calc(s * 0.2) calc(l - 70));

  &[data-mantine-color-scheme='dark'] {
    /* Background */
    --bg-color-navbar: var(--color-dark-base);
    --bg-color-messenger: hsl(from var(--color-dark-base) h s calc(l + 10));
    --bg-color-messenger-header: hsl(from var(--color-dark-base) h s 18%);

    /* Messenger */
    --input-bg: var(--mantine-color-dark-6);
  }

  /* Widths, Heights, Spaceing, Borders */
  --navbar-height: 4rem;
}
